<div class="login-info">
  <div class="logo">
    <img src="/assets/images/logo.png" alt="">
  </div>
  <div class="center">
    <div class="left-content">
      <img src="/assets/images/login-left.png" alt="">
    </div>
    <div class="right-content">
      <h3>数据控制平台</h3>
      <form class="" #userForm="ngForm" (ngSubmit)="loginConfirm()">
        <input type="text" name="name" value="" placeholder="用户名" [(ngModel)]="user.name" required #sp>
        <input type="password" name="password" value="" placeholder="用户密码" [(ngModel)]="user.password" required>
        <div class="line">
          <input type="checkbox" name="remember" value="" [(ngModel)]="user.remember">
          <label for="">记住我</label>
        </div>
        <button type="submit" [disabled]='!userForm.form.valid'>登录</button>
      </form>
    </div>
  </div>

</div>
