<div class="page-roles">
  <button class="btn btn-primary btn-add" (click)="showModal()">+&nbsp;新建</button>
  <div class="table-info">
    <table cellpadding="0" cellspacing="0" border="0">
      <thead>
        <tr>
          <td>
            <span>角色编号</span>
          </td>
          <td>
            <span>角色名称</span>
          </td>
          <!-- <td>
            <span>应用名称</span>
          </td> -->
          <td>
            <span>是否有效</span>
          </td>
          <td>
            <span>操作</span>
          </td>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <span>admin_hskh</span>
          </td>
          <td>
            <span>护士考核管理员</span>
          </td>
          <td>
            <span>有效</span>
          </td>
          <td>
            <a class="" title="">角色修改</a>&emsp;
            <a class="" title="">角色权限</a>
          </td>
        </tr>
        <tr>
          <td>
            <span>admin_pda</span>
          </td>
          <td>
            <span>PDA管理员角色</span>
          </td>
          <td>
            <span>有效</span>
          </td>
          <td>
            <a class="" title="">角色修改</a>&emsp;
            <a class="" title="">角色权限</a>
          </td>
        </tr>
        <tr>
          <td>
            <span>admin_role</span>
          </td>
          <td>
            <span>系统管理角色</span>
          </td>
          <td>
            <span>有效</span>
          </td>
          <td>
            <a class="" title="">角色修改</a>&emsp;
            <a class="" title="">角色权限</a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>