.first-page {
  .meeting {
    width: 600px;
    height: 450px;
    border: 1px solid #c7c7c7;
    position: relative;
    .meet-big {
      width: 100%;
      height: 100%;
    }
    .meet-small {
      width: 120px;
      height: 80px;
      border: 1px solid #c7c7c7;
    }
    .pos-abs {
      position: absolute;
      top: 20px;
      right: 20px;
      z-index: 10; // overflow: hidden;
      cursor: pointer;
    }
  }
}
