.head-layout {
  height: 64px;
  background-color: rgba(59, 56, 56, 0.933);
  width: 100%;
  z-index: 10;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  &>img {
    display: inline-flex;
    height: 40px;
  }
  &>div {
    display: inline-flex;
    color: white;
    font-size: 16px;
    background: url("/assets/images/avatar-man.png") 0 no-repeat;
    background-size: 32px auto;
    padding-left: 40px;
    cursor: pointer;
  }
}
