<nz-modal [nzWidth]="820" [nzVisible]="isVisible" [nzTitle]="modalTitle" [nzContent]="modalContent" (nzOnCancel)="handleCancel($event)"
  (nzOnOk)="handleOk($event)" class="modal-roles-privileges">
  <ng-template #modalContent>
    <div class="grand" *ngFor="let item of menus.data;">
      <label nz-checkbox [(ngModel)]="item.checked" (ngModelChange)="changeGrand(item)">
        <span>{{item.text}}</span>
      </label>
      <div class="parent" *ngFor="let subItem of item.children;">
        <label nz-checkbox [(ngModel)]="subItem.checked" (ngModelChange)="changeParent(item, subItem)">
          <span>{{subItem.text}}</span>
        </label>
        <div class="child" *ngFor="let childItem of subItem.children;">
          <label nz-checkbox [(ngModel)]="childItem.checked" (ngModelChange)="changeChildren(item, subItem)">
            <span>{{childItem.text}}</span>
          </label>
        </div>
      </div>
    </div>
  </ng-template>
</nz-modal>