<nz-layout class="layout" style="min-height:100%">
  <!-- <nz-header>
    <div class="logo"></div>

  </nz-header> -->
  <app-head-line></app-head-line>
  <nz-layout style="min-height:100%;" class="main-layout">
    <nz-sider [nzWidth]="200" style="background:#fff ;" class="main-side-layout">

      <ul nz-menu [nzMode]="'inline'" style="height:100%;  background-color: rgba(59, 56, 56, 0.933);
      ">
        <li nz-submenu *ngFor="let item of menu">
          <span title>
            <i class="anticon {{item.img}}"></i>{{item.name}}
          </span>
          <ul *ngIf="item.child.length>0">
            <li nz-menu-item *ngFor="let cc of item.child" routerLink="{{cc.url}}">
              {{cc.name}}
            </li>
          </ul>
        </li>
        <!-- <li nz-submenu>
          <span title>
            <i class="anticon anticon-user"></i>subnav 1</span>
          <ul>
            <li nz-menu-item>option1</li>
            <li nz-menu-item>option2</li>
            <li nz-menu-item>option3</li>
            <li nz-menu-item>option4</li>
          </ul>
        </li>
        <li nz-submenu>
          <span title>
            <i class="anticon anticon-laptop"></i>subnav 2</span>
          <ul>
            <li nz-menu-item>option5</li>
            <li nz-menu-item>option6</li>
            <li nz-menu-item>option7</li>
            <li nz-menu-item>option8</li>
          </ul>
        </li>
        <li nz-submenu>
          <span title>
            <i class="anticon anticon-notification"></i>subnav 3</span>
          <ul>
            <li nz-menu-item>option9</li>
            <li nz-menu-item>option10</li>
            <li nz-menu-item>option11</li>
            <li nz-menu-item>option12</li>
          </ul>
        </li> -->
      </ul>
    </nz-sider>
    <nz-layout class="main-content-layout">

      <nz-content style="background:#fff; min-height: 280px;" class="main-content">
        <!-- <app-tabs></app-tabs> -->
        <router-outlet></router-outlet>
      </nz-content>
    </nz-layout>
  </nz-layout>
</nz-layout>
