.main-content {
  height: 100%;
}

.main-layout {
  padding-top: 64px;
  .main-side-layout {
    position: fixed;
    height: 100%;
    overflow: auto;
  }
  .main-w {
    width: 100%;
  }
  .main-content-layout-false {
    padding-left: 200px;
    transition: all .2s;
  }
  .main-content-layout-true {
    padding-left: 64px;
    transition: all .2s;
  }
}

:host ::ng-deep .logo {
  width: 120px;
  height: 31px;
  background: #333;
  border-radius: 6px;
  margin: 16px 28px 16px 0;
  float: left;
}

:host ::ng-deep .ant-layout-sider-collapsed .nav-text {
  display: none;
}

:host ::ng-deep .ant-layout-sider-collapsed .ant-menu-submenu-title:after {
  display: none;
}

:host ::ng-deep .ant-layout-sider-collapsed .anticon {
  font-size: 16px;
  margin-left: 8px;
}
