<nz-layout class="layout" style="min-height:100%">
  <!-- <nz-header>
    <div class="logo"></div>

  </nz-header> -->
  <app-head-line></app-head-line>
  <nz-layout style="min-height:100%;" class="main-layout">
    <nz-sider [nzWidth]="200" style="background:#fff ;border-top:1px solid #ececec" class="main-side-layout">

      <ul nz-menu [nzMode]="'inline'" style="height:100%;  background-color:#425972;
      " (click)="isOpen()">
        <li nz-submenu *ngFor="let item of menu">
          <span title>
            <i class="anticon {{item.img}}"></i>{{item.name}}
          </span>
          <ul *ngIf="item.child.length>0" class="sec-menu">
            <li nz-menu-item *ngFor="let cc of item.child" routerLink="{{cc.url}}" routerLinkActivated="ant-menu-item-selected" (click)="menuActivatedPage(cc)">
              {{cc.name}}
            </li>
          </ul>
        </li>
      </ul>
    </nz-sider>
    <nz-layout class="main-content-layout">

      <nz-content style="background:#fff; min-height: 280px;" class="main-content">
        <app-tabs (fired)="activatedPage($event)" [activePage]="choosePageName" [activeUrl]="choosePageUrl"></app-tabs>
        <router-outlet></router-outlet>
      </nz-content>
    </nz-layout>
  </nz-layout>
</nz-layout>
