<div class="wrapper-app">
  <header>
    <h1>音视频聊天窗口</h1>
  </header>
  <div class="wrapper-content">
    <div>
      <strong>我是:</strong> {{myId}}</div>
    <div class="connect-caller-buttons">
      <h3>客户连接:</h3>
      <div id="otherClients">
        <button *ngFor="let easyrtcId of (connectedClientsList)" (click)="performCall(easyrtcId)">{{easyrtcId}}</button>
      </div>
    </div>
    <div class="video-frames">
      <div class="video-self">
        <video id="videoSelf"></video>
      </div>
      <div class="video-caller">
        <video id="videoCaller"></video>
      </div>
    </div>
  </div>
</div>
