<div class="wrapper-app">
  <header>
    <h1>EasyRTC TypeScript with Angular 2</h1>
  </header>
  <div class="wrapper-content">
    <h2>Simple Audio/Video Demo</h2>
    <div>
      <strong>I am:</strong> {{myId}}</div>
    <div class="connect-caller-buttons">
      <h3>Connected Clients:</h3>
      <div id="otherClients">
        <button *ngFor="let easyrtcId of (connectedClientsList)" (click)="performCall(easyrtcId)">{{easyrtcId}}</button>
      </div>
    </div>
    <div class="video-frames">
      <div class="video-self">
        <video id="videoSelf"></video>
      </div>
      <div class="video-caller">
        <video id="videoCaller"></video>
      </div>
    </div>
  </div>
  <footer>
    <div>Copyright &copy; 2016 Skedans Systems Inc.</div>
  </footer>
</div>
